<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | <%= appName %></title>
    <link rel='stylesheet' href='stylesheets/base.css' />
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/base.js"></script>
  </head>
  <body>
    <% include templates/header.ejs %>
    <div class='container'>
      <div class='col-md-12 text-center'>
        <h1><%= title %></h1>
        <p>Welcome to the <%= title.toLowerCase() %> page.</p>
      </div>
    </div>
  </body>
</html>
