 <footer class='footer'>
  <div class='container text-center'>
    <p class='text-muted'>
      <i class='fa fa-github'></i>
      Check out the <a href='https://github.com/colinrcummings/node_express_ejs'>source</a> on GitHub
    </p>
  </div>
</footer>